@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100vh;
}

.spots-table-container {
  height: 350px;
  overflow: auto;
}

.signupContainer {
  justify-content: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.loginContainer {
  justify-content: center;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

/* QUERIES */

@media only screen and (min-width: 768px) {
  .loginContainer {
    width: 50%;
  }
  .signupContainer {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .loginContainer {
    width: 20%;
  }
  .signupContainer {
    width: 20%;
  }
}
